<% users.each do |user| %>
  <%= link_to (user_path(user.id)) do %>
  <div class="note_box2_6">
    <%= user.name %>
    <%= image_tag user.get_image, class: "rounded-circle" %>
    <%= user.introduction %>
  </div>
  <% end %>
<% end %>

