* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.manual{
  padding: 3%;
}

.manual-contents{
  display: flex;
}


#procedure{
  width: 90%;
  margin: 0 auto;
  padding: 3% 0;
}

p {
  line-height: 2;
}

