// Place all the styles related to the public/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**ノート一覧**/
/*ノートの配置設定*/
#main-note {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

/*外枠*/
.index-note-contents {
  margin: 2em 1em;
  padding: 1.5em 2em;/*文字周りの余白*/
  background: #fff;/*背景色*/
  border-left: solid 20px #FFC530;/*左線（実線 太さ 色）*/
  border-radius: 7px;
  position: relative;
  }


.index-note-contets1 {
    width: 30%;
    height: 29em;
  }


/*ノートタイトル*/
.index-note-title {
  font-size: 1rem;
  margin: 0 !important;
  font-size: 1rem;
}

/*ノート本文*/
/*動画・画像がある場合*/
.index-note-body {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*動画・画像ない場合*/
.index-notes-body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  margin-bottom: 0 !important;
}


/**動画の表示設定**/
.video{
  display: block;
  text-align: center;
  line-height: 10;
}
.index-favorites-btn {
  width: 90%;
  padding: 0 2em;
  text-align: center;
  background: #f5eeafbf;
}



/***コメントの設定***/
/**コメント欄全体**/
.comment-box {
  width: 100%;
  margin-left: 5%;
}

/**コメント一覧**/
.comment-contents {
  position: relative;
  width: 70%;
  margin: 2em 0;
  padding: 1em 3em 1.5em 3em;
  background: #ffffff;
  border: 1px solid #7fa59838 !important;
  border-radius: 20px;
  box-shadow: 0 11px 15px 0 #87858533;
}


/**コメント入力欄全体**/
.comments-form {/*複数形*/
  width: 95%;
  margin-bottom: 3em;
}

/**コメント入力フォーム**/
.comment-form {/*単数形*/
  width: 70% !important;
  border: 1px solid #7fa59838 !important;
  border-radius: 10px !important;
}


.comment-form-btn {
  margin: 0 0.5em !important;
  color: #76441f !important;
  font-size: 1.6rem !important;
  border: 1px solid #7fa59838 !important;
  background: #fff !important;
}


/*.fixed-bottom {
  position: sticky;
  background: #fff;
  height: 20vh;
}*/



/**投稿フォーム**/
.made-form {/*見出し含む全体の設定*/
  margin-top: 5em;
}

.new-form {
  margin: 0.8em auto 3em auto !important;
  padding: 1em 0.5em !important; /*内側の余白*/
  background: linear-gradient(#f1eaead6 0.05em, transparent 0.05em) #fff;
  background-size: auto 2em;
  line-height: 1em;
}

.note-contents {
  width: 80%;
}

.new-heading {
  width: 83%;
  margin: 0 auto;
}

.form-group {
  width: 80%;
  margin: 1.5em auto;
}

.select-box {
  /* 初期化 */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.new-form-actions {
  width: 90%;
  text-align: right;
}

.new-form-btn {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.3rem !important;
  color: #4a2204 !important;
}

.link {
  color: #007bff !important;
}


/*マニュアル画面*/

#procedure{
  width: 86%;
  margin: 3em auto;
  padding: 3% 0;
}



p {
  line-height: 2;
}

ol{
  padding: 0.1em 1em;
}

li{
  padding: 7px 0;
  font-size: 1.1em;
  line-height: 1.7;
}



.video{
  display: block;
  text-align: center;
  line-height: 10;
}




/**投稿フォーム内のﾘﾝｸ**/
.to-tos, .to-manual, .manual-tape {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
  background: #ffffff85;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.to-manual {
  margin-bottom: 3em;
  padding: 1em;
  margin-top: 1.5em;
}

.manual-tape {
  background: #bfe6f51f;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
  margin-top: 0;
}


/***利用規約画面**/
.tos-box {
  width: 75%;
  position: relative;
  margin: 2em auto;
  padding: 3.5em 5em;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  background-color: #fdf2a5f2;
}

.tos-box::before {
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  width: calc(100% - 5rem);
  height: calc(100% - 2rem);
  content: '';
}

.tos-box::after {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  width: 30%;
  height: 2.8em;
  background: #ffffff73;
  border-left: 2px dashed rgba(0, 0, 0, .1);
  border-right: 2px dashed rgba(0, 0, 0, .1);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  transform: translateX(-40%) rotate(-2deg);
  content: '';
}

.tos-box p {
  color: #333;
  line-height: 1.2;
}

.tos-sentence {
  width: 80%;
  margin: 0 auto;
}