// Place all the styles related to the public/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**ノート一覧**/
/*ノートの配置設定*/
#main-note {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

/*外枠*/
.index-note-contents {
  margin: 2em 1em;
  padding: 1.5em 2em;/*文字周りの余白*/
  background: #fff;/*背景色*/
  border-left: solid 20px #FFC530;/*左線（実線 太さ 色）*/
  border-radius: 7px;
  position: relative;
  }


.index-note-contets1 {
    width: 30%;
    height: 29em;
  }


/*ノートタイトル*/
.index-note-title {
  font-size: 1rem;
  margin: 0 !important;
  font-size: 1rem;
}

/*ノート本文*/
/*動画・画像がある場合*/
.index-note-body {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*動画・画像ない場合*/
.index-notes-body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  margin-bottom: 0 !important;
}


/**動画の表示設定**/
.video{
  display: block;
  text-align: center;
  line-height: 10;
}
.index-favorites-btn {
  width: 90%;
  padding: 0 2em;
  text-align: center;
  background: #f5eeafbf;
}




/**投稿フォーム**/
.made-form {/*見出し含む全体の設定*/
  margin-top: 5em;
}

.new-form {
  margin: 0.8em auto 3em auto !important;
  padding: 1em 0.5em !important; /*内側の余白*/
  background: linear-gradient(#f1eaead6 0.05em, transparent 0.05em) #fff;
  background-size: auto 2em;
  line-height: 1em;
}

.note-contents {
  width: 80%;
}

.new-heading {
  width: 83%;
  margin: 0 auto;
}

.form-group {
  width: 80%;
  margin: 1.5em auto;
}

.select-box {
  /* 初期化 */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.new-form-actions {
  width: 90%;
  text-align: right;
}

.new-form-btn {
  width: 18%;
  margin: 0 !important;
  padding: 0 !important;
  border: 0.01px solid #1c1b1b1f !important;
  border-radius: 0 !important;
  font-size: 1.3rem !important;
  background: #efd30b4a !important;
}

.link {
  color: #007bff !important;
}


/*マニュアル画面*/

#procedure{
  width: 86%;
  margin: 0 auto;
  padding: 3% 0;
}



p {
  line-height: 2;
}

ol{
  padding: 0.1em 1em;
}

li{
  padding: 7px 0;
  font-size: 1.1em;
  line-height: 1.7;
}



.video{
  display: block;
  text-align: center;
  line-height: 10;
}




/**投稿フォーム内のﾘﾝｸ**/
.to-tos, .to-manual, .manual-tape {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
  background: #ffffff85;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.to-manual {
  margin-bottom: 3em;
  padding: 1em;
  margin-top: 1.5em;
}

.manual-tape {
  background: #bfe6f51f;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
  margin-top: 0;
}



.tos-box {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 3em 5em;
  border-radius: 20px;
  background-color: #fdf2a5f2;
}

.tos-box::before {
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    width: calc(100% - 5rem);
    height: calc(100% - 2rem);
    background-image: repeating-linear-gradient( transparent 1px 37px);
    content: '';
}

.tos-box::after {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    width: 30%;
    height: 2.8em;
    border-left: 2px dashed rgba(0, 0, 0, .1);
    border-right: 2px dashed rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    transform: translateX(-40%) rotate(-2deg);
    content: '';
}

.tos-box p {
    color: #333;
    line-height: 2.3;
}