// Place all the styles related to the public/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/***ボタン***/
.note-btn-box {
  display: flex;
}

/**投稿編集と削除、いいねとコメントボタン**/
.edit-btn, .destroy-btn, .favorite-comment-btn {
  background: #ffffff94;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.edit-destory-btn, .favorite-comment-btn {
  font-size: clamp(1rem, 1.4vw, 1.2rem);
}

/**編集と削除ボタン**/
.edit-destory-btn {
  display: flex;
}

.edit-btn {
  padding: 0.5em 1em;
}

.destroy-btn {
  margin: 0 0.3em;
  padding: 0.5em 1em;
}

/***いいねとコメントボタン***/
.favorite-comment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

.favoritebtn {
  padding-right: 1.8rem;
}




/***一覧画面***/
.index-headbox {
  display: flex;
}

.index-head {
  margin-left: 3%;
}

.index-head .form-control {
  width: 83% !important;
}

/**投稿一覧のタグ一覧**/
.note-index-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 61%;
  margin: 0 auto;
  height: 107px;
  overflow: auto;
}

.note-index-tags::-webkit-scrollbar{
   width: 5px;
}
.note-index-tags::-webkit-scrollbar-track{
   background-color: #dddddddb;
}
.note-index-tags::-webkit-scrollbar-thumb{
   background-color: #a8cfcd;
}

.note-index-tag {
  width: 20%;
  position: relative;
  margin: 0.4em 0.7em;
  padding: 0 1em;
  line-height: 3em;
  background-color: #c6e4e9;
  font-size: clamp(0.7rem, 1.2vw, 0.88rem);
}

.note-index-tag::before {
  position: absolute;
  bottom: -1px;
  right: 5px;
  z-index: -1;
  transform: rotate(5deg);
  width: 70%;
  height: 50%;
  background: #ada8a8b3;
  content: "";
  filter: blur(4px);
}



@media screen and (max-width:1225px) {
  .note-index-tag {
    width: 29%;
  }
}

@media screen and (max-width:1019px) {
  .index-head {
    margin-left: 0%;
  }
}

@media screen and (max-width:790px) {
  .index-headbox {
    display: block;
  }
  .index-headbox input {
    width: 70vw !important;
  }
  .note-index-tags {
    width: 100%;
    height: 86px;
    margin: 2% 0 0;
  }
}


@media screen and (max-width:435px) {
  .note-index-tags {
    height: 85px;
  }
  .note-index-tag {
    width: 43%;
  }
}




.index-note-contents{
  position: relative;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 14px;
  display: inline-block;
  color: #fff;
  box-shadow: 0 8px 16px -6px rgba(#000,0.26);
}

.index-note-contents::before, .index-note-contents::after {
  content: "";
  position: absolute;
  z-index: -1;
}
 
/* ラベルの背景 */
.index-note-contents::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0685c7;
  clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 14px, 100% 100%, 0 100%);
}
 
/* 右上角のめくれ */
.index-note-contents::after {
  top: 0%;
  right: 0%;
  height: 14px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0.52);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
/**ノート一覧**/
/*ノートの配置設定*/
.main-note {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/*外枠*/
.index-note-contents {
  position: relative;
  margin: 2em 1em;
  padding: 1.5em 2em;
  border-left: solid 22px #45a79e6b;
  border-radius: 7px;
  box-shadow: 0 4px 13px rgba(0,0,0,0.2), 0 -4px 5px -1.7px #708aaf inset;
  font-size: clamp(0.95rem, 1.1vw, 1rem);
}





.index-note-contets1 {
    width: 30%;
    height: 31.7em;
  }


/*ノートタイトル*/
.index-note-title {
  margin: 0 !important;
  font-size: 1.1rem;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*動画・画像がある場合*/
.index-note-body {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}


/*動画・画像ない場合*/
.index-notes-body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  word-break: break-word;
  margin-bottom: 0.3em !important;
}

/**画像の表示設定**/
.index-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


/*動画の表示設定*/
.notes-video {
  position: relative;
  padding-bottom: 12.5em;
  height: 0;
  overflow: hidden;
}

.notes-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/**投稿一覧レスポンシブ*/
@media screen and (max-width:1250px) {
  .index-note-contets1 {
    width: 40%;
    height: 31em;
  }
}

@media screen and (max-width:1024px) {
  .index-note-contets1 {
    width: 45%;
  }
}

@media screen and (max-width:790px) {
  .index-note-contents {
    margin: 1em auto;
  }
  .index-note-contets1 {
    width: 95%;
    height: auto;
  }
  .index-note-body {
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    word-break: break-word;
    margin-bottom: 0.3em !important;
  }
  .index-img {
    height: 260px;
  }
  .notes-video {
    padding-bottom: 13em;
  }
}
@media screen and (max-width:425px) {
  .index-note-contets1 {
    width: 100%;
  }
}



/***詳細ﾍﾟｰｼﾞ***/
/**ノートのﾙｰｽﾞﾘｰﾌ風設定**/
/*外枠*/
.note-contents {
  width: 68vw;
  margin: 2% auto 4%;
  padding: 5% 6.6% 2.7%;
  background: linear-gradient(#f1eaead6 0.05em, transparent 0.05em) #fff;
  background-size: auto 2em;
  line-height: 1em;
  border: 0.5px solid #d1cdcd;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  }


.note-contents, .note-body,  .comment-box {
  font-size: clamp(0.75rem, 1.3vw, 1.3rem);
  line-height: 1.5;
}

/*ドット*/
.note-contents::before {
  content: "";
  position: absolute;
  border-right: dotted 1.5vw #b1a8a8; /*ドットの大きさ、高さ*/
  height: 95%;
  top: 1.5em; /*位置*/
  left: 0.5em; /*位置*/
}

/**画像の表示設定**/
.show-img {
  width: 77%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 1em auto;
}

/**動画の表示設定**/
.video{
  position: relative;
  padding-bottom: 54.5%;
  height: 0;
  overflow: hidden;
  margin: 1em auto;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**ノートタイトル**/
.note-title {
  margin: 0.5em 0;
  font-size: clamp(0.8rem, 1.7vw, 1.5rem);
  font-weight: bold;
}

.note-body {
  word-break: break-word;
}

.note-show-tag {
  margin: 0.5em 0;
}




/***コメントの設定***/
/**コメント欄全体**/
.comment-box {
  margin-left: 11%;
}

/**コメント一覧**/
.comment-contents {
  width: 85%;
  margin-bottom: 1.5em;
  padding: 2% 3%;
  background: #ffffff;
  border: 1px solid #7fa59838 !important;
  border-radius: 20px;
  box-shadow: 0 11px 15px 0 #87858533;
}


/**コメント入力欄全体**/
.comments-form {/*複数形*/
  width: 95%;
  margin-bottom: 0.5em;
}

/**コメント入力フォーム**/
.comment-form {/*単数形*/
  width: 63vw !important;
  margin-right: 10px;
  border: 1px solid #7fa59838 !important;
  border-radius: 10px !important;
  position: relative;
}

.comment-form-btn {
  padding: 0.85em 1% !important;
  color: #76441f !important;
  font-size: clamp(1.3rem, 2vw, 1.6rem) !important;
  border: 1px solid #7fa59838 !important;
  border-radius: 10px !important;
  background: #fff !important;
  position: absolute;
  right: 15.5%;
}



/*投稿詳細レスポンシブ*/
@media screen and (max-width:1024px) {
  .note-contents {
    width: 100%;
  }
  .note-contents {
    padding: 2.7% 8%;
  }
  .comment-box {
    margin-left: 0%;
  }
  .comment-form {
    width: 99% !important;
  }
  .comment-form-btn {
    right: 6.2%;
  }
  .comment-contents {
    width: 95%;
  }
}
@media screen and (max-width:768px) {
  .note-contents::before {
    border-right: dotted 2.5vw #b1a8a8;
  }
  .comment-form-btn {
    right: 1.5%;
  }
}

@media screen and (max-width:425px) {
  .note-contents {
    padding: 4% 10%;
  }
  .show-img {
    width: 100%;
  }
  .comment-contents {
    width: 100%;
  }
}



/**新規投稿＆投稿編集画面**/
.new-heading, .manual h1 {
  font-size: clamp(1.99rem, 3vw, 2.5rem);
}

.new-note-box {
  display: flex;
  justify-content: space-around;
}

.new-form a {
  text-decoration: underline solid #007bff;
}

.new-form {
  width: 48vw;
  padding: 1em 0.5em 1.5em !important; /*内側の余白*/
  background: linear-gradient(#f1eaead6 0.05em, transparent 0.05em) #fff;
  background-size: auto 2em;
  font-size: clamp(1rem, 1.4vw, 1.8rem);
  line-height: 1em;
}

.form-group {
  width: 80%;
  margin: 1.5em auto;
}

.new-form-body {
  height: 200px !important;
}

/*動画、画像、タグ*/
.new-note-icon {
  display: flex;
  text-align: right;
  align-items: center;
  width: 73%;
  margin: 2.3rem auto 0;
}

.new-note-icon .form-group {
  margin: 0;
}

.new-note-icon .form-group:nth-child(1) {
  width: 10%;
}

.new-note-icon .form-group:nth-child(2) {
  width: 22%;
}

.new-note-icon .form-group:nth-child(3) {
  width: 70%;
  padding-left: 4%;
}

.fa-image, .fa-video {
  font-size: clamp(1.65rem, 2.65vw, 2.35rem) !important;
}

select {
  width: 62%;
  padding: 0.27rem;
  border: 1.5px solid #ced4da;
  border-radius: 1rem;
  color: #68442b;
}

.new-form-actions {
  text-align: right;
}

.new-form-btn {
  margin-right: 10% !important;
  padding: 0 !important;
  font-size: 1.3rem !important;
  color: #4a2204 !important;
  border: 1px solid black;
}

.link {
  color: #007bff !important;
}

/**投稿フォーム内のﾘﾝｸ**/
.side-bar {
  width: 27vw;
  margin-top: 3%;
}

.side-bar .to-tos, .side-bar li, .side-bar p {
  font-size: clamp(0.85rem, 1.2vw, 1.5rem);
}

.side-bar h2 {
  font-size: clamp(1rem, 1.6vw, 1.4rem);
}

.to-tos, .to-manual, .manual-tape {
  padding: 0.5em;
  background: #ffffff85;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.to-tos {
  display: block;
  text-align: center;
}

.to-manual {
  margin-bottom: 3em;
  padding: 1em;
  margin-top: 1.5em;
}

.manual-tape {
  background: #bfe6f51f;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
  margin-top: 0;
}



/*マニュアル画面*/
.manual ul li, .tos-box ul li {
  list-style-type: decimal;
  list-style-position: inside;
}

.manual {
  width: 80%;
  margin: 6em auto;
}

.manual img:nth-child(n+2) {
  width: 420px;
  height: auto;
}


/***利用規約画面**/
.tos-box {
  width: 75%;
  position: relative;
  margin: 2em auto;
  padding: 3.5em 6%;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  background-color: #fdf2a5f2;
}

.tos-box::before {
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  width: calc(100% - 5rem);
  height: calc(100% - 2rem);
  content: '';
}

.tos-box::after {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  width: 30%;
  height: 2.8em;
  background: #ffffff73;
  border-left: 2px dashed rgba(0, 0, 0, .1);
  border-right: 2px dashed rgba(0, 0, 0, .1);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  transform: translateX(-40%) rotate(-2deg);
  content: '';
}

.tos-box h2, .tos-sentence h2 {
  font-size: clamp(1.35rem, 2.5vw, 1.8rem);
}

.tos-box h3 {
  font-size: clamp(1.25rem, 1.8vw, 1.65rem);
}

.tos-sentence {
  width: 80%;
  margin: 0 auto;
}

/**投稿＆編集画面レスポンシブ**/
@media screen and (max-width:1024px) {
  .side-bar {
    width: 32vw;
  }
}

@media screen and (max-width:768px) {
  .new-form, .side-bar, .to-tos {
    width: 90vw;
  }
  .new-note-box {
    display: block;
    position:relative;
  }
  .new-form {
    margin-top: 4rem;
  }
  .side-bar {
    margin: 5% auto 0;
  }
  .to-tos {
    position:  absolute;
    top: -2.8rem;
    display: flex;
    justify-content: center;
    font-size: 2.5vw !important;
  }
  .tos-box {
    width: 95%;
  }
}

@media screen and (max-width:515px) {
  .manual {
    width: 85%;
  }
  .manual img:nth-child(n+2) {
    width: 92%;
  }
}

