// Place all the styles related to the public/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**タグ**/
.tag {
  width: 20%;
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em 1em;
  line-height: 3em;
  background-color: #94d3ff;
}

.tag::before {
  position: absolute;
  bottom: -5px;
  right: 7px;
  z-index: -1;
  transform: rotate(5deg);
  width: 70%;
  height: 50%;
  background: #ada8a8b3;
  content: "";
  filter: blur(4px);
}





/***管理者側タグ新規作成**/
.tag-form-btn {
  margin: 0 0.5em 0 0!important;
  border: none !important;
  color: #6c4d37 !important;
  font-size: 3rem !important;
  background: none !important;
}

/**タグ編集画面**/
.tag-edit-box {
  width: 35% !important;
}

.tag-edit-form {
  width: 55% !important;
  align-items: center !important;
  background-color: #ffffffcf !important;
  border: none !important;
  color: #6C4E37 !important;
}
