// Place all the styles related to the public/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**タグ**/
.tag-index-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  margin-top: 1em;
}

.tag {
  width: 19vw;
  position: relative;
  margin: 1%;
  padding: 0 1%;
  line-height: 3em;
  background-color: #a8ddd5;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.tag::before {
  position: absolute;
  bottom: -5px;
  right: 7px;
  z-index: -1;
  transform: rotate(5deg);
  width: 70%;
  height: 50%;
  background: #ada8a8b3;
  content: "";
  filter: blur(4px);
}

/***タグの詳細画面の見出し***/
.tag-show-heading {
  font-size: clamp(1.4rem, 2.3vw, 2rem);
  min-width: 100vw;
}

.tag-show-heading span, .tags-link {
  margin-left: 0.5rem;
  font-size: clamp(1.13rem, 1.7vw, 1.5rem);
}





/***管理者側タグ新規作成**/
.new-tag-form{
  height: 55px !important;
  width: 42.5% !important;
  border: 2.23px solid #928162 !important;
}

.tag-form-btn {
  height: 55px;
  margin-left: 8px;
  padding: 0 0.8vw;
  border: 2.23px solid #928162 !important;
  border-radius: 7px !important;
  background: #ffffff;
  color: #62442a;
  font-size: 2.5rem;
  line-height: 1;
}

/**タグ編集画面**/
.tag-edit-box {
  width: 35% !important;
}

.tag-edit-form {
  width: 55% !important;
  align-items: center !important;
  background-color: #ffffffcf !important;
  border: none !important;
  color: #6C4E37 !important;
}


@media screen and (max-width:1024px) {
  .tag {
    width: 25.8vw;
  }
}

@media screen and (max-width:790px) {
  .new-tag-form {
    width: 80% !important;
  }
}

@media screen and (max-width:768px) {
  .tag {
    width: 40vw;
    margin: 1.5%;
    padding-left: 3%;
  }
}


@media screen and (max-width:425px) {
  .tag {
    width: 100%;
    margin: 3% 0;
    padding-left: 4.5%;
  }

}