// Place all the styles related to the public/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**タグ**/
.tag {
  width: 20%;
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  margin: 3em;
  height: 30%;
  padding: 1em 1em;
  line-height: 3em;
  background-color: #a9ceec;
  color: #333333;
}

.tag::before {
  position: absolute;
  bottom: -5px;
  right: 7px;
  z-index: -1;
  transform: rotate(5deg);
  width: 70%;
  height: 50%;
  background-color: #d0d0d0;
  content: "";
  filter: blur(4px);
}


/***管理者側タグ新規作成**/
/**notes.cssにも設定あり**/
.tag-form-btn {
  margin: 0 !important;
  padding: 0 0.75em !important;
  border: 0.01px solid #1c1b1b1f !important;
  border-radius: 0 !important;
  font-size: 1.2rem !important;
  background: #d7d6cf94 !important;
}