/***トップ画面***/
.top-title {
  width: 100vw;
  height: 35%;
  padding: 38px 0 0 48%;
  font-size: clamp(1.9rem, 6vw, 5rem);
  color: #ffffff;
  background: #5da18e;
  border-bottom-left-radius: 130%;
  border-bottom-right-radius: 3%;
  position: absolute;
  animation: TitleSlideIn 1.8s both;
}

/*アニメーション*/
@keyframes TitleSlideIn {
  0% {
    opacity: 0;
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*タイトル以下*/
.top-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40vh;
  position: relative;
  top: 22vh;
  width: 95%;
  animation: SlideIn 1.8s both;
}

/*アニメーション*/
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(64px);
  }
}

/*ノート部分*/
.top-note {
  width: 420px;
  height: 465x;
  padding: 40px 30px;
  background: #fdfeff;
  border-left: 30px solid #45a79ed6;
  border-radius: 7px;
  box-shadow: 10px 14px 13px rgba(0,0,0,0.2), 0 -4px 5px -1.7px #708aaf inset;
  text-align: center;
  line-height: 2.8;
  animation: yurayura 2.5s linear infinite;
}

/*アニメーション*/
@keyframes yurayura {
  0% , 100%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(-2.5deg);
  }
}

.top-note:hover {
  animation-play-state: paused;
}

.top-note h2 {
  font-size: clamp(1.9rem, 2vw, 2.5rem);
}

.top-note a {
  display: block;
  text-align: center;
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-family: 'Times New Roman', serif;
}


/*文章*/
.top-text {
  margin: 0 4% 0 8%;
  padding: 28px 40px;
  line-height: 1.5;
  text-align: center;
  background: #ffffff61;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  
}

.top-text div, .top-text p, .top-text a {
  font-size: clamp(1.1rem, 1.8vw, 1.8rem);
}



@media screen and (max-width:1050px) {
  .top-contents {
    top: 24vh;
  }
  .top-note {
    width: 350px;
  }
  .top-text {
    padding: 28px 10px
  }
}

@media screen and (max-width:890px) {
  .top-title,  .top-contents {
    position: static;
  }
  .top-title {
    width: 100%;
    height: 130px;
    padding: 38px 0 0 5%;
    text-align: center;
  }
  
  /*タイトルのアニメーション*/
  @keyframes bound-anim{
    0%{transform: translateY(0);}
    100%{transform: translateY(5px);}
  }
  
  /*全文字にアニメーションを適用*/
  .top-title span{
    display: inline-block;
    animation: 1.3s bound-anim ease-in infinite alternate;
  }
  
  /*** 各文字のスタート時間をずらす ***/
  /* 1文字目 */
  .top-title span:nth-child(1){
    animation-delay: 0;
  }
  /* 2文字目 */
  .top-title span:nth-child(2){
    animation-delay: 0.2s;
  }
  /* 3文字目 */
  .top-title span:nth-child(3){
    animation-delay: 0.4s;
  }
  .top-title span:nth-child(4){
    animation-delay: 0.6s;
  }
  
  .top-contents {
    display: block;
    margin: 0 auto 50px;
    width: 73%;
  }
  .top-note {
    animation: none;
  }
  .top-note,.top-text {
    margin: 0 0 50px -7%;
    width: 100%;
  }
}
@media screen and (max-width:640px) {
  .top-note, .top-text {
    margin-left: -20%;
  }
}
@media screen and (max-width:450px) {
  .top-note, .top-text {
    width: 125%;
    margin-left: -35%;
  }
}