// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*一覧と詳細のノート*/
.users-box {
  width: 60%;
  position: relative;
  margin: 3em auto;
  padding: 1.2em 1.2em;
  border-left: 35px solid #2589d0;
  background-color: #fff;
  color: #333333;
}

.users-box::before {
  position: absolute;
  bottom: 2px;
  right: -20px;
  z-index: -1;
  transform: rotate(5deg);
  width: 100%;
  height: 50%;
  background-color: #d0d0d0;
  content: "";
  filter: blur(4px);
}


/**ユーザー編集ページ**/
.user-edit {
  width: 80%;
  margin: 0 auto;
}

.user-introduction {
  width: 20em;
  height: 10em;
}

.user-edit-actions {
  text-align: center;
  margin: 4em;
}

.user-edit-btn {
  background: #978D86 !important;
  font-size: 1.3rem !important;
  border: none !important;
}

.withdrawal-btn {
  color: #fff !important;
}

.to-withdrawal {
  margin-top: 1em;
  text-align: center;
}

.withdrawal-btn-color {
  background: #E85A70 !important;
}

.unsubscribe {
 text-align: center;
 margin-top: 5em;
}