<div class="container">
  <div class="row">
    <div class="col-12 main">
      <div class="row">
        <h1>タグ名変更</h1>
      </div>
      <div class="row">
        <%= form_with model: @tag, url: admin_tag_path(@tag.id) ,method: :patch, class: "form-inline" do |f| %>
          <%= f.text_field :name, placeholder: "タグ名を入力",class: 'form-control mt-3 mb-4' %>
          <%= f.submit "✍",class: 'btn tag-form-btn' %>

        <%= link_to admin_tag_path(@tag.id), method: :delete, data: {confirm: 'このコメントを消しますか？'} do %>
          <i class="far fa-trash-alt" style="font-size: 1.5rem;"></i>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>