<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 p-5">
      <h1>Editing Note</h1>
      <p>ノートの編集</p>
   </div>
  </div>
  <div class="row">
      <%= render '/public/shared/form', note: @note %>
  </div>
</div>