<div class="container">
  <div class="row main">
      <h1 class="new-heading">Editing Note<span class="ml-2" style="font-size: 18px;">ノートの編集</span></h1>
      <%= render '/public/shared/form', note: @note %>
  </div>
</div>