<div class="container">
  <div class="row">
    <div class="col-12">
  <h1 class="text-center">動画投稿ガイド</h1>
  <section id="procedure1">
    <h2>動画投稿 おおまかな手順。o○</h2>
      <ul>
        <li>Youtubeにて動画を投稿していただきます。<br>
      　 （投稿時、公開・非公開の選択可能）
      　</li>
      　<li>投稿動画のURLを、本アプリの投稿フォームへコピペして完了！</li>
      </ul>
  </section>

  <section id="procedure2">
  <h2>詳しい手順はこちら♪</h2>
    <ol>
      <li>Youtubeアプリを開きます</li>
      <li>２．作成（　　　若しくは　　　）→　動画をアップロードを選択

    </ol>
  </section>
</div>
</div>
</div>