<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 p-2">
      <h1>New Note<span class="ml-2" style="font-size: 18px;">新しいノートを作成</span></h1>
    </div>
  </div>
  <div class="row">
      <%= render '/public/shared/form', note: @note %>
  </div>
</div>