<div class="container">
  <div class="row">
    <div class="col-sm-12 made-form">
      <h1>New Page<span class="ml-2" style="font-size: 18px;">新しいページを作成</span></h1>
    </div>
  </div>
  <div class="row">
      <%= render '/public/shared/form', note: @note %>
  </div>
</div>