<div class="container">
  <div class="row main">
    <h1 class="new-heading">New Page<span class="ml-2" style="font-size: 18px;">新しいページを作成</span></h1>
    <%= render '/public/shared/form', note: @note %>
  </div>
</div>