<h1>ãƒŽãƒ¼ãƒˆæ¤œç´¢</h1>
<%= search_form_for @q, url: search_notes_path do |f| %>
  <%= f.search_field :title_or_body_cont, placeholder: "ãƒŽãƒ¼ãƒˆæ¤œç´¢" %>
  <%= f.submit 'ðŸ”', class: "btn-sm btn-outline-secondary" %>
<% end %>

<% @results.each do |note| %>
  <%= render '/public/shared/note_index', notes: @notes %>
<% end %>
