/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Times New Roman', cursive !important;
  color: #522506 !important;
  background: #eef7e4 !important;
}

a {
  color: #441f05 !important;
}

li {
  list-style: none;
}


.notice {
  margin-top: 3em;
  font-size: 1.5rem;
}

.comment_notice {
  font-size: 1.5rem;
  margin: 0.8em 0 0.3em 0.5em;
}


.registrations, .admin-log-in-heading {
  font-family: 'Times New Roman', serif;
}


/*ヘッダー*/
.fixed-top {
  position: sticky;
  background: #73d0c2eb;
}

.navbar-nav a, .header-wrapper a {
  color: #f5f5f5 !important;
  font-size: clamp(1rem, 1.72vw, 1.2rem);;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5% 2.5%;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a, .header-nav-sm a {
  margin: 0 1rem;
}


/*ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰのﾘｽﾄ通常は非表示*/
.header-nav-sm {
  display: none;
}

/*ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰの設定*/
@media screen and (max-width:1024px) {
  .header-nav {
    display: none;/*ｸﾞﾛｰﾊﾞﾙﾒﾆｭｰを非表示*/
  }
  .header-wrapper {
    padding: 13px 2.5%;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    right: 18%;
    width: 25px;
    height: 3.3px;
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: ease 0.75s;
  }
  .icon span:nth-of-type(1) {
    top: 27%;
  }
  .icon span:nth-of-type(2) {
    top: 48%;
  }
  .icon span:nth-of-type(3) {
    bottom: 26%;
  }

  .icon.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
    background-color: #fff;
  }
  .icon.active span:nth-child(2) {
    opacity: 0;
  }
  .icon.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-5px) rotate(45deg);
    background-color: #fff;
  }

  .header-nav-sm {
    top: 99%;
    left: 0px;  /*headerの余白分　ヘッダーには左右に15px余白があるので、headerの子要素となる.smは15px分内側に設置されます。その余白を埋めるために左に寄せる。*/
    position: absolute; /*絶対配置　top　leftからの位置を絶対配置する*/
    z-index: 10;
    width: 100%;
    background-color: #63b7aaeb;
    padding-left: 10%;
  }
  ul {
    flex-direction: column;	/*ulのflexboxを縦並びにする*/
  }
}



@media screen and (max-width:670px) {
  .header-logo {
    display: block;
  }
  .icon span {
    right: 16.5%;
  }
  .icon span:nth-of-type(1) {
    top: 30%;
  }
  .icon span:nth-of-type(2) {
    top: 44%;
  }
  .icon span:nth-of-type(3) {
    bottom: 36%;
  }
  .icon.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-7px) rotate(45deg);
    background-color: #fff;
  }
  .header-nav-sm {
    top: 99%;
  }
}


/***トップ画面***/
.top-notice {
  margin-bottom: 1.8em;
  font-size: clamp(0.8rem, 1.7vw, 1.8rem);
  color: #823014;
}

/**トップ画面全体**/
.top-contents {
  width: 80vw;
  margin: 7em auto;
  background: #FFF;
  padding: 5% 3.5%;
  background: linear-gradient(#ccc 0.05em, transparent 0.05em) #FFF;
  background-size: auto 2.9em;
  line-height: 0em;
  border: 10px solid #813400cc;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  overflow: hidden;
}

.top-title h1 {
  line-height: 0.45;
  font-size: 7vw;
}

.top-title h2 {
  width: 90%;
  margin: 0 auto;
  padding: 0.7% 0 1.5em;
  font-size: clamp(0.95rem, 2vw, 2rem);
  line-height: 1.5;
}

.top-title a {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
  font-size: clamp(0.95rem, 2vw, 2rem);

}

.top-link a {
  text-align: center;
  font-size: 4vw;
  font-family: 'Times New Roman', serif;
}

.top-link a:nth-child(2) {
  padding: 0 5%;
}




/***アバウトページ***/
/**ページ全体**/
.about-wrap {
  width: 80%;
  margin: 5em auto;
}

.about-title {
  margin: 0.5em 0;
  text-align: center;
}

.about-title2 {
  width: 40%;
  margin: 0.8em auto 4em;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.8;
}

.about-title3 {
  text-align: center;
  font-size: 2rem;
  margin: 1em;
}

.cando {
  display: flex;
  justify-content: center;
}

.cando-border {
  padding: 1em;
  border-top: 1px double #46230552;
}

.cando-content {
  line-height: 2;
  margin: 0 2em;
  text-align: center;
}


.cando-sentence {
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
}


/***ログイン・新規登録画面***/
.log-in {
  margin: 0 auto 2em;
  background: #fff;
  padding: 2.5em;
  background: linear-gradient(#ccc 0.05em, transparent 0.05em) #fff;
  background-size: auto 2.9em;
  line-height: 2em;
  border: 10px solid #EF866B;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  overflow: hidden;
  width: 60%;
}

.registrations-log-in {
  background-size: auto 2.9em;
  line-height: 1.2em;
  border: 10px solid #e78b03db;
}

.admin-log-in {
  border: 10px solid #37AB9D;
}

.log-in-field, .log-in-actions {
  width: 80%;
  margin: 1em auto;
}

.log-logo {
  display: block;
  margin-top: 1em;
  font-size: 1.2rem
}

@media screen and (max-width:991px) {
  .log-in {
    width: 90vw;
  }
  .log-in-field, .log-in-actions {
    width: 95%;
  }
}


/***見出しと検索フォーム***/
.heading_and_search {
  display: flex;
}



/***詳細ﾍﾟｰｼﾞ***/
/**ページ全体**/
.main{
  margin: 6em auto;
  width: 87%;
}

/**ノートのﾙｰｽﾞﾘｰﾌ風設定**/
/*外枠*/
.note-contents {
  margin: 2em 1em 3em 2em;
  padding: 2em 5em; /*内側の余白*/
  background: linear-gradient(#f1eaead6 0.05em, transparent 0.05em) #fff;
  background-size: auto 2em;
  line-height: 1em;
  border: 0.5px solid #d1cdcd;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  }

.note-contents2 {
  width: 80%;
}

/*ドット*/
.note-contents::before {
  content: "";
  position: absolute;
  border-right: dotted 15px #b1a8a8; /*ドットの大きさ、高さ*/
  height: 93%;
  top: 1.5em; /*位置*/
  left: 0.5em; /*位置*/
}

/**画像**/
.show-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/**動画の表示設定**/
.video{
  margin: 1.5em 0;
  text-align: left;
  line-height: 0;
}


/**ノートタイトル**/
.note-title {
  margin: 0.5em 0;
  font-size: 1.8rem;
}
/**ノート本文**/
.index-note-sentence {
  margin-right: 1em;
}

.note-btn {
  display: flex;
}

.favorites-btn {
  width: 11em;
  padding: 0 2em;
  background: #f9f0a2bf;
  display: flex;
}

.edit-destory-btn {
  font-size: 1.2rem;
}

.edit-btn {
  padding: 0.5em 1em;
  background: #f9f0a2bf;
}

.destroy-btn {
  margin: 0 0.3em;
  padding: 0.5em 1em;
  background: #f9f0a2bf;
  height: 2em;
}


.pagination {
  margin-top: 3em;
  justify-content: center;
}

.page-item.active .page-link {
  background: #93dae1 !important;
  border: none !important;
}



/***フッター***/
footer {
  width: 100%;
  padding: 1em;
  margin-bottom: 4em;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer-contents a {
  display: block;
}

.footer-logo {
  font-size: 1.3rem;
}

@media screen and (max-width:499px) {
  .footer-contents {
    display: block;
    text-align: center;
  }
  .footer-contents a:not(:first-child) {
    display: inline-block;
    font-size: 0.9rem;
  }
  .footer-logo {
    margin-bottom: 0.7rem;
    font-size: 1.25rem;
  }
}