/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*body{
  background-color: #FCFCCA;
}*/

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap');


body {
  font-family: 'Times New Roman','Yomogi', cursive !important;
  color: #522506 !important;
  background: #F6E5D7 !important;
}

a {
  color: #6c4d37 !important;
}


.notice {
  margin-top: 3em;
  font-size: 1.5em;
}


.registrations, .admin-log-in-heading, .tos-li {
  font-family: 'Kaisei Opti', serif;
}


/*ヘッダー*/
.fixed-top {
  position: sticky;
  background: #73d0c2eb;
}

.header-nav {
    color: #f5f5f5 !important;
}

/*トップ画面*/
.top-notice {
  margin-bottom: 1.5em;
  font-size: 1.5em;
  color: #823014;
}


.top-contents {   /*トップ画面全体*/
  width: 80vw;
  margin: 5em auto;
  background: #fff;
  padding: 3em 3em;
  background: linear-gradient(#ccc 0.05em, transparent 0.05em) #FFF7F2;
  background-size: auto 2.9em;
  line-height: 0em;
  border: 10px solid #dda705;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  overflow: hidden;
}

.top-heading1 {
  line-height: 0.6;
  font-size: 6em;
}


.top-link {
  margin: 0 0 0.5em;
  text-align: center;
  font-size: 2.5rem;
  color: #823014;
  font-family: 'Kaisei Opti', serif;
}


.top-content {
  width: 80vw;
  margin: 0 auto;
  padding: 5em 0;
}

.top-heading2 {
  font-size: 3rem;
}

.top-sentences {
  font-size: 1.3rem;
  color: #823014;
  line-height: 3;
}

/*ログイン・新規登録画面*/
.log-in {
  margin: 0 auto;
  background: #fff;
  padding: 3em;
  background: linear-gradient(#ccc 0.05em, transparent 0.05em) #fff;
  background-size: auto 2.9em;
  line-height: 2em;
  border: 10px solid #EF866B;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  overflow: hidden;
}

.registrations-log-in {
  padding: 1em;
  background-size: auto 2.9em;
  line-height: 1.2em;
  border: 10px solid #e78b03db;
}

.admin-log-in {
  border: 10px solid #37AB9D;
}

.log-in-field, .log-in-actions {
  width: 50%;
  margin: 1em auto;
}

.log-logo {
  display: block;
  margin-top: 1em;
}


/***詳細ﾍﾟｰｼﾞ***/
/**ページ全体**/
.main{
  margin: 5em 0;
}

/**ノートのﾙｰｽﾞﾘｰﾌ風設定**/
/*外枠*/
.note-contents {
  margin: 2em 1em 3em 2em;
  padding: 2em 5em; /*内側の余白*/
  background: linear-gradient(#f1eaead6 0.05em, transparent 0.05em) #fff;
  background-size: auto 2em;
  line-height: 1em;
  border: 0.5px solid #0000008f;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  }

.note-contents2 {
  width: 80%;
}

/*ドット*/
.note-contents::before {
  content: "";
  position: absolute;
  border-right: dotted 15px #b1a8a8; /*ドットの大きさ、高さ*/
  height: 93%;
  top: 1.5em; /*位置*/
  left: 0.5em; /*位置*/
}

/**画像**/
.note-img {
  margin: 0 auto;
}

/**動画の表示設定**/
.video{
  display: block;
  text-align: center;
  line-height: 10;
}


/**ノートタイトル**/
.note-title {
  margin: 0.5em 0;
  font-size: 1.8rem;
}

/**ノート本文**/
.index-note-sentence {
  margin-right: 1em;
}

.note-btn {
  display: flex;
}

.favorites-btn {
  width: 18em;
  padding: 0 2em;
  background: #f5eeafbf;
}

.edit-destory-btn {
  font-size: 1.2rem;
}

.edit-btn {
  padding: 0.5em 1em;
  background: #f5eeafbf;
}

.destroy-btn {
  margin: 0 0.3em;
  padding: 0.5em 1em;
  background: #f5eeafbf;
}

/**コメントの設定**/
.comment-box {
  margin: 0 3em;
}

.comments {
  margin: 0 0 5em 0;
  border-top: 1px solid #E6E6E6 ;
}

.fixed-bottom {
  position: sticky;
  background: #fff;
  height: 20vh;
}

.comment {
  width: 40%;
}


/**ユーザー情報**/
#user-info {
  display: block;
  width: 100%;
  padding: 1em 1em;
  border-radius: 10px;
  font-size: 1rem;
  background: #fdcc50e0;
}


.user-favorites {
  display: block;
  width: 50%;
  padding: 1em 2em;
  margin: 0 5em 0 0;
  font-size: 1rem;
}