/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Times New Roman', cursive !important;
  color: #522506 !important;
  background: #eef7e4 !important;
}

a {
  color: #441f05 !important;
}


.notice {
  margin-top: 3em;
  font-size: 1.5rem;
}

.comment_notice {
  font-size: 1.5rem;
  margin: 0.8em 0 0.3em 0.5em;
}


.registrations, .admin-log-in-heading {
  font-family: 'Times New Roman', serif;
}


/*ヘッダー*/
.fixed-top {
  position: sticky;
  background: #73d0c2eb;
}

.header-nav {
    color: #f5f5f5 !important;
}

/***トップ画面***/
.top-notice {
  margin-bottom: 1.5em;
  font-size: 1.7vw;
  color: #823014;
}

/**トップ画面全体**/
.top-contents {
  width: 80vw;
  margin: 7em auto;
  background: #FFF;
  padding: 5% 3.5%;
  background: linear-gradient(#ccc 0.05em, transparent 0.05em) #FFF;
  background-size: auto 2.9em;
  line-height: 0em;
  border: 10px solid #813400cc;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  overflow: hidden;
}

.top-title h1 {
  line-height: 0.45;
  font-size: 7vw;
}

.top-title h2 {
  padding: 0.7em 0 1.5em 8%;
  font-size: clamp(18px, 2vw, 33px);
}

.top-title a {
  font-size: clamp(18px, 2vw, 33px);
  padding: 0 0 2em 7em;
  display: block;
}

.top-link {
  text-align: center;
  font-size: 4vw;
  color: #823014;
  font-family: 'Times New Roman', serif;
}

.top-link:nth-child(2) {
  padding: 0 5%;
}

@media screen and (max-width:546px) {
  .top-title h1 {
    font-size: 6.5vw;
  }
}

@media screen and (max-width:768px) {
}

@media screen and (max-width:425px) {

}


/***アバウトページ***/
/**ページ全体**/
.about-wrap {
  width: 80%;
  margin: 5em auto;
}

.about-title {
  margin: 0.5em 0;
  text-align: center;
}

.about-title2 {
  width: 40%;
  margin: 0.8em auto 4em;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.8;
}

.about-title3 {
  text-align: center;
  font-size: 2rem;
  margin: 1em;
}

.cando {
  display: flex;
  justify-content: center;
}

.cando-border {
  padding: 1em;
  border-top: 1px double #46230552;
}

.cando-content {
  line-height: 2;
  margin: 0 2em;
  text-align: center;
}


.cando-sentence {
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
}


/***ログイン・新規登録画面***/
.log-in {
  margin: 0 auto;
  background: #fff;
  padding: 3em;
  background: linear-gradient(#ccc 0.05em, transparent 0.05em) #fff;
  background-size: auto 2.9em;
  line-height: 2em;
  border: 10px solid #EF866B;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  overflow: hidden;
}

.registrations-log-in {
  padding: 1em;
  background-size: auto 2.9em;
  line-height: 1.2em;
  border: 10px solid #e78b03db;
}

.admin-log-in {
  border: 10px solid #37AB9D;
}

.log-in-field, .log-in-actions, .user-edit-field {
  width: 50%;
  margin: 1em auto;
}

.log-logo {
  display: block;
  margin-top: 1em;
  font-size: 1.2rem
}


/***詳細ﾍﾟｰｼﾞ***/
/**ページ全体**/
.main{
  margin: 6em 0;
}

/**ノートのﾙｰｽﾞﾘｰﾌ風設定**/
/*外枠*/
.note-contents {
  margin: 2em 1em 3em 2em;
  padding: 2em 5em; /*内側の余白*/
  background: linear-gradient(#f1eaead6 0.05em, transparent 0.05em) #fff;
  background-size: auto 2em;
  line-height: 1em;
  border: 0.5px solid #d1cdcd;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  }

.note-contents2 {
  width: 80%;
}

/*ドット*/
.note-contents::before {
  content: "";
  position: absolute;
  border-right: dotted 15px #b1a8a8; /*ドットの大きさ、高さ*/
  height: 93%;
  top: 1.5em; /*位置*/
  left: 0.5em; /*位置*/
}

/**画像**/
.show-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/**動画の表示設定**/
.video{
  margin: 1.5em 0;
  text-align: left;
  line-height: 0;
}


/**ノートタイトル**/
.note-title {
  margin: 0.5em 0;
  font-size: 1.8rem;
}
/**ノート本文**/
.index-note-sentence {
  margin-right: 1em;
}

.note-btn {
  display: flex;
}

.favorites-btn {
  width: 11em;
  padding: 0 2em;
  background: #f9f0a2bf;
  display: flex;
}

.edit-destory-btn {
  font-size: 1.2rem;
}

.edit-btn {
  padding: 0.5em 1em;
  background: #f9f0a2bf;
}

.destroy-btn {
  margin: 0 0.3em;
  padding: 0.5em 1em;
  background: #f9f0a2bf;
  height: 2em;
}


.pagination {
  margin-top: 3em;
  justify-content: center;
}

.page-item.active .page-link {
  background: #93dae1 !important;
  border: none !important;
}


footer {
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-bottom: 4em;
}