<div class="note-contents note-contents2">
  <%= link_to (admin_note_path(note.id)) do %>
    <%= render '/layouts/note_contents', note: note %><!--投稿内容-->

    <p class="favorites-btn">
      <span>♥<%= note.favorites.count %><!--いいね数-->
      <span class="ml-5" style="font-size: 1.2rem;"><i class="far fa-comment"></i><%= note.note_comments.count %></span><!--ｺﾒﾝﾄ件数-->
    </p>
  <% end %>
</div>