<%= link_to (admin_user_path(user.id)) do %>
  <div class="users-box">
    <%= render '/layouts/user_info', user: user %>
    <%= user.introduction %>
    <% if user.is_deleted == true %>
      <span class="ml-3">退会済ユーザー</span>
    <% end %>
  </div>
<% end %>