<div class="container">
  <div class="row">
    <div class="col-12 main">
      <h1>♥Notes</h1>

      <% if @favorite_notes.present? %>
        <div class="main-note">
          <% @favorite_notes.each do |note|%>
            <% if note.user.is_deleted == false %>
              <%= render '/public/shared/notes_index', note: note %><!--投稿一覧-->
            <% end %>
          <% end %><!--each-->
         </div>
          <%= paginate @favorite_notes, theme: 'twitter-bootstrap-4' %>
      <% else %>
        <p>いいねしたノートはありません</p>
      <% end %><!--いいねしたﾉｰﾄあるか-->
    </div>
  </div>
</div>