<div class="container">
  <div class="row">
    <div class="col-12 main">
      <h1>♡Notes<span class="ml-1" style="font-size: 1.5rem">♥スタンプを押したノート</span></h1>

      <% if @favorite_notes.present? %>
        <% @favorite_notes.each do |note|%>
        <%= render '/public/shared/note_index', note: note %>
        <% end %>
      <% else %>
        <p>いいねしたノートはありません</p>
      <% end %>
    </div>
  </div>
</div>