<% if user_signed_in? or admin_signed_in? %>
  <span style="font-size:1.2rem;"><%= link_to "My Music NoteðŸ–Œ" , notes_path %></span>
  <!--åˆ©ç”¨è¦ç´„ã¸ã®ï¾˜ï¾ï½¸-->
      <%= link_to "åˆ©ç”¨è¦ç´„", tos_notes_path, class:"ml-3" %>
  <!--ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼ã¸ã®ï¾˜ï¾ï½¸-->
    <%= link_to "ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼", privacy_policy_notes_path, class:"ml-2" %>
<% end %>