<% if user_signed_in? && admin_signed_in? %>
  <ul>
    <li><%= link_to "My Music NoteðŸ–Œ" , notes_path %></li>
    <li style="font-size: 1rem" class="tos-li"><!--åˆ©ç”¨è¦ç´„ã¸ã®ï¾˜ï¾ï½¸-->
      <%= link_to "åˆ©ç”¨è¦ç´„", tos_notes_path, class:"ml-3 header-nav" %>
    </li>
    <li style="font-size: 1rem" class="tos-li"><!--ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼ã¸ã®ï¾˜ï¾ï½¸-->
      <%= link_to "ï¾Œï¾Ÿï¾—ï½²ï¾Šï¾žï½¼ï½°ï¾Žï¾Ÿï¾˜ï½¼ï½°", privacy_policy_notes_path, class:"ml-2 header-nav" %>
    </li>
  </ul>
<% end %>